body {
    margin-top: 50px;
}

.container {
    margin: 0 5vw 0 5vw;
}

#banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner_Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
}

.text-white {
    color: white;
}

.text-32 {
    font-size: 32px;
}

.text-72 {
    font-size: 72px;
}

.banner-text {
    text-align: center;
    width: 50%;
}

.banner-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}